<div class="footer">
  <div class="footer-map"></div>
  <div class="footer-content-wrapper">
    <div class="contact-form-title title-large">Uno enim veniam exercitation ullam laboris</div>
    <form class="contact-form">
      <input placeholder="Your name">
      <input placeholder="Your email" type="email">
      <input placeholder="Your phone">
      <textarea class="message-field" placeholder="Message" rows="3"></textarea>
      <button class="send-button button-default-medium">Send message</button>
    </form>
  </div>
</div>
