@import '../../../styles/variables';

.footer {
  min-height: 100%;
  display: flex;
}

.footer-content-wrapper {
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .contact-form-title {
    margin-bottom: 44px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;

    .message-field,
    .send-button {
      margin-top: 15px;
    }

    .send-button {
      align-self: flex-end;
    }
  }
}

.footer-map {
  width: 50%;
  padding: 80px;
  background: $primary;
}

@media (max-width: $lg-max) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-content-wrapper {
    flex: 1;
    width: auto;
    padding: 80px 168px;
  }

  .footer-map {
    width: auto;
    height: 40vh;
    padding: 0;
  }
}

@media (max-width: $sm-max) {
  .footer-content-wrapper {
    padding: 60px 36px;
  }
}

