@import '../../../styles/variables';

.header {
  min-height: 100%;
  display: flex;
}

.header-content-wrapper,
.header-background {
  width: 50%;
  box-sizing: border-box;
}

.header-content-wrapper {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 1;

  .header-content {
    margin: 35px auto;
  }
}

.header-background {
  background-image: url('../../../assets/images/bg-xl.png');
  background-size: cover;
  background-position: 50%;
}

@media (max-width: $md-max) {
  .header-content-wrapper {
    width: 60%;
    padding: 40px;
  }

  .header-background {
    width: 40%;
  }
}

@media (max-width: $sm-max) {
  .header {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .header-content-wrapper {
    width: auto;
    padding: 36px;
  }

  .header-background {
    width: auto;
    height: 35vh;
  }
}
