@import "variables";

.button-default-large,
.button-hollow-large {
  font-size: 24px;
  padding: 20px 53px;

  @media (max-width: $lg-max) {
    font-size: 22px;
    padding: 16px 55px;
  }

  @media (max-width: $sm-max) {
    font-size: 18px;
    padding: 15px 32px;
  }
}

.button-default-medium,
.button-hollow-medium {
  font-size: 18px;
  padding: 15px 60px;

  @media (max-width: $lg-max) {
    padding: 11px 55px;
  }

  @media (max-width: $sm-max) {
    font-size: 16px;
    padding: 10px 32px;
  }
}

.button-default-large,
.button-default-medium {
  color: $white;
  background: $primary;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid $primary;

  &:hover {
    color: $primary;
    background: $white;
    border-color: $white;
  }
}

.button-hollow-large,
.button-hollow-medium {
  color: $white;
  background: transparent;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid $white;

  &:hover {
    color: $primary;
    border-color: $primary;
  }
}
