@import "variables";

body {
  //background: $background;
  font-family: 'Playfair Display', sans-serif;
  color: $white;
  height: 200vh;
}

button {
  font-family: 'Playfair Display', sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

// TITLES
.title-xlarge,
.title-large,
.title-medium,
.title-small,
.title-xsmall {
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;

  &.accent {
    color: $action2;
  }
}

.title-xlarge {
  font-size: 44px;
  line-height: 54px;
}

.title-large {
  font-size: 32px;
  line-height: 42px;
}

.title-medium {
  font-size: 22px;
  line-height: 32px;
}

.title-small {
  font-size: 18px;
  line-height: 28px;
}

.title-xsmall {
  font-size: 16px;
  line-height: 24px;
}
