@import "variables";

body,
html {
  font-family: 'Playfair Display', sans-serif;
  color: $white;
  background: $background;
  height: 100%;
  margin: 0;
  letter-spacing: 0;
}

// TITLES
.title-xlarge,
.title-large,
.title-medium,
.title-small,
.title-xsmall {
  font-weight: bold;
  text-align: left;

  &.accent {
    color: $primary;
  }
}

.title-xlarge {
  font-size: 54px;
  line-height: 70px;

  @media (max-width: $md-max) {
    font-size: 44px;
    line-height: 54px;
  }

  @media (max-width: $sm-max) {
    font-size: 32px;
    line-height: 42px;
  }
}

.title-large {
  font-size: 44px;
  line-height: 54px;

  @media (max-width: $md-max) {
    font-size: 32px;
    line-height: 42px;
  }

  @media (max-width: $sm-max) {
    font-size: 22px;
    line-height: 32px;
  }
}

.title-medium {
  font-size: 32px;
  line-height: 42px;

  @media (max-width: $md-max) {
    font-size: 22px;
    line-height: 32px;
  }

  @media (max-width: $sm-max) {
    font-size: 18px;
    line-height: 28px;
  }
}

.title-small {
  font-size: 22px;
  line-height: 32px;

  @media (max-width: $md-max) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $sm-max) {
    font-size: 16px;
    line-height: 24px;
  }
}

.title-xsmall {
  font-size: 18px;
  line-height: 28px;

  @media (max-width: $md-max) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $sm-max) {
    font-size: 14px;
    line-height: 24px;
  }
}

.text-large {
  font-size: 20px;
  line-height: 32px;

  @media (max-width: $md-max) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $sm-max) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-medium {
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $md-max) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $sm-max) {
    font-size: 14px;
    line-height: 24px;
  }
}
